[submodule "cactus_rt"]
	path = cactus_rt
	url = https://github.com/EPFLRocketTeam/2024_I_AV_SW_RTLIB
[submodule "control"]
	path = control
	branch = avionics
	url = https://github.com/EPFLRocketTeam/2024_I_GNC_C_ACT_EXP.git
[submodule "com_client"]
	path = com_client
	url = https://github.com/EPFLRocketTeam/2025_I_AV_COM_CLIENT.git
[submodule "guidance"]
	path = guidance
	url = https://github.com/EPFLRocketTeam/2024_I_GNC_G_MPC_PROTO.git
[submodule "guidance_mpcl1"]
	path = guidance_mpcl1
	url = https://github.com/EPFLRocketTeam/2025_I_GNC_G_MPCL1
