[submodule "cactus_rt"]
	path = cactus_rt
	url = https://github.com/cactusdynamics/cactus-rt.git
[submodule "control"]
	path = control
	url = https://github.com/EPFLRocketTeam/2024_I_GNC_C_ACT_EXP.git
